* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="radio"] {
  position: absolute;
  top: -100%;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff5ff;
}

main {
  display: grid;
  grid-template-columns: 33% 1fr;
  grid-template-rows: auto auto;
  height: 600px;
  width: 966px;
  border: 2px solid #d6d9d6;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
  background-color: #ffffff;
}

.sidebar {
  height: 100%;

  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
  grid-row: span 2;
}

.step {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto auto;
  width: 100%;
  label {
    grid-row: span 2;
    display: flex;
    align-items: center;
  }
  h4,
  h3 {
    text-align: left;
    color: rgb(255, 255, 255);
  }
  h4 {
    font-weight: 100;
    color: #9699aa;
  }
}

.step-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

#step1:checked ~ main {
  aside [for="step1"] .step-circle {
    background-color: #9699aa;
  }
  .step-1 {
    display: block;
  }
}
#step2:checked ~ main {
  aside [for="step2"] .step-circle {
    background-color: #9699aa;
  }
  .step-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    label {
      width: 30%;
      border: 2px solid rgb(236, 221, 221);
      margin: auto;
      padding: 1rem;
      border-radius: 5px;
      img {
        margin-bottom: 2rem;
      }
    }

    .plan:hover {
      border: 2px solid rgb(135, 127, 206);
    }

    div.slide-switch {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 1.5rem;
      background-color: #f9f9f9;
      border: none;

      .slide-switch {
        position: relative;
        width: 52px;
        padding: 0.7rem;
        margin-left: 10px;
        margin-right: 10px;
        background-color: hsl(231, 11%, 63%);
      }
    }
    p {
      padding: auto;
    }

    .slide-switch-checkbox {
      display: none;
    }

    .slide-switch-slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 25px;
      background-color: #0d00ff;
      border-radius: 34px;
      transition: 0.4s;
    }

    .slide-switch-slider:before {
      content: "";
      position: absolute;
      height: 19px;
      width: 19px;
      left: 4px;
      bottom: 4px;
      background-color: #ffffff;
      border-radius: 50%;
      transition: 0.4s;
    }

    .slide-switch-checkbox:checked + .slide-switch-slider {
      background-color: #0d00ff;
    }

    .slide-switch-checkbox:checked + .slide-switch-slider:before {
      transform: translateX(26px);
    }
  }
  .left {
    background-color: #9699aa;
  }
  .right {
    background-color: #9699aa;
  }
  .slide-switch:before ~ .left {
    background-color: #0d00ff;
  }
  .slide-switch:checked ~ .right {
    background-color: #0d00ff;
  }
  .yearly {
    display: none;
  }
}

#step3:checked ~ main {
  aside [for="step3"] .step-circle {
    background-color: #9699aa;
  }
  .step-3 {
    display: block;
  }
}
#step4:checked ~ main {
  aside [for="step4"] .step-circle {
    background-color: #9699aa;
  }
  .step-4 {
    display: block;
  }
}

.step-content {
  width: 70%;
  margin: auto;
  display: none;
  margin-top: 40px;
}

.max-width {
  width: 100%;
}

.subtitle {
  margin-bottom: 30px;
}

footer {
  width: 70%;
  margin: auto;
}
input:where([type="text"], [type="email"], [type="number"]) {
  border-color: 1px solid #d6d9d6;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid hsl(231, 11%, 63%);
  margin-top: 0.25rem;
}
.add-ons {
  display: block;
}
.box {
  display: inline-flex;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 0.5rem;
  padding: 1rem;
}
.box:hover {
  border: 1px solid hsl(213, 96%, 18%);
}
.box:has(input:checked) {
  background-color: hsl(231, 11%, 63%, 20%);
  border: 1px solid hsl(213, 96%, 18%);
}

.container input {
  grid-column: 1;
  grid-row: span 2;
}
.price {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}
h3 {
  grid-column: 2;
}
label.box {
  display: flex;
  align-items: center;
  margin-block: 1rem;
  gap: 2rem;

  span {
    margin-left: auto;
  }
}
.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.item:nth-of-type(2) {
  border-bottom: 1px solid hsl(231, 11%, 63%);
  padding-bottom: 1rem;
}
.receipt {
  padding: 1.5rem 1rem;
  background-color: hsl(231, 11%, 63%, 20%);
}
.total {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1.5rem;
}
.total .price {
  font-size: 1.5rem;
}
