* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(225, 10%, 92%);
  display: flex;
  justify-content: center;
}
main {
  font-family: "ubuntu";
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto 50px;
  background-color: white;
  padding: 1rem;
  width: 966px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 1px 10px 10px 0 hsl(240, 2%, 76%);
}
.sidebar {
  grid-row: span 2;
  background-image: url(assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
}
.steps label {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: repeat(2, auto);
  margin-bottom: 1rem;
}
label span {
  grid-row: span 2;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.color-white {
  color: white;
}
p {
  color: grey;
}
.dynamic-content {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  padding-bottom: 15px;
  color: hsl(213, 96%, 18%);
}
.subtitle {
  padding-bottom: 30px;
}
.label {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.label input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid hsl(240, 2%, 76%);
}
.label label {
  padding-bottom: 5px;
}
.plan-form {
  display: flex;
  height: 150px;
  margin-bottom: 20px;
}
.plan-card {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.plan-card img {
  display: block;
  align-self: flex-start;
}
.plan-info {
  margin-top: auto;
  display: block;
  align-self: flex-start;
}
.color-blue {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(200, 19%, 94%);
}
h4 {
  color: hsl(213, 96%, 18%);
  padding-bottom: 5px;
}
.switch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ccc;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  width: 450px;
  height: 50px;
  margin-top: 32px;
}
.box {
  border: 2px solid blue;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 450px;
}
input[type="checkbox"] {
  margin-right: 10px;
  width: 60px;
  height: 20px;
  border-radius: 5px;
}
.column {
  display: flex;
  flex-direction: column;
}
.blue {
  color: hsl(243, 100%, 62%);
}
.light-blue {
  background-color: hsl(208, 22%, 88%);
}
.box1,
.box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box1 {
  border-bottom: 1px solid rgb(184, 171, 171);
  margin-bottom: 10px;
}
.selection-box {
  background-color: hsl(229, 24%, 87%);
  padding: 15px;
  border-radius: 10px;
  height: 150px;
  width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}
.price {
  font-weight: bold;
  font-size: 20px;
  color: blue;
}
.left-content p,
.right-content p {
  margin-bottom: 5px;
}
.selection {
  margin-bottom: 20px;
}
.step-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
.step-5 img {
  margin-bottom: 10px;
}
.step-5 h1,
.step-5 p {
  margin-bottom: 20px;
}
.step-1,
.step-2,
.step-3,
.step-4,
.step-5 {
  display: none;
}
.step-1 {
  display: grid;
}
input:focus,
input:focus-within {
  border: 1rem solid purple;
}





